.dashboard__one {
  flex: 4;
  background: var(--color-grey);
  padding-left: 9.5rem;
}

.dashboard__two {
  background: var(--color-white);
}

.dashboard__three {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: -1;
}

.dashboard__four {
  margin: 0rem 0.4rem;
  display: flex;
}

.dashboard__four svg {
  margin: 0rem 1rem;
  font-size: 1.4rem;
}

.dashboard__five {
  padding-top: 1.5rem;
  margin: auto;
  width: 90%;
}

.notification {
  position: relative;
  cursor: pointer;
}

.notification .after {
  content: "";
  position: absolute;
  margin-right: 1rem;
  border-radius: 50%;
  right: 0;
  width: 10px;
  height: 10px;
  background: var(--color-red);
}

.notification .down {
  position: absolute;
  right: 0;
}

.menu__hidden {
  display: none;
}

.notify__jiggle {
  animation: jiggle 200ms ease-in-out infinite;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.charts {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.4rem;
  grid-template-columns: 60% 40%;
}

/* MEDIA QUERY FOR TABS */
@media (max-width: 800px) and (min-width: 500px) {
  .dashboard__one {
    padding-left: 5rem;
  }

  .notification::after {
    margin-right: 2.8rem;
  }

  .charts {
    grid-template-columns: 100%;
  }
}

/* MEDIA QUERY FOR MOBILE */
@media (max-width: 500px) {
  .dashboard__one {
    padding: 0rem;
  }

  .dashboard__three {
    padding: 0.5rem;
  }

  .dashboard__four {
    margin: 0rem 0.1rem;
  }

  .dashboard__four svg {
    margin: 0rem 0.6rem;
  }

  .notification .after {
    margin-right: 0.8rem;
  }

  .menu__hidden {
    display: initial;
    cursor: pointer;
  }

  .charts {
    grid-template-columns: 100%;
  }
}
